<section id="aboutMe">
  <div class="container">
    <h3>About Me</h3>
    <p>
      I'm a recent Information Systems Engineering graduate, based in
      Hermosillo, Sonora, MX. Always looking to learn and grow, I'm ready to
      contribute to building of reliable and innovative software solutions.
    </p>
    <p>
      When I'm not coding, you can catch me enjoying films, losing my head over
      football, drinking large amounts of coffee, and studying Japanese.
    </p>
  </div>
</section>

<section id="experience">
  <div class="container">
    <h3>Experience</h3>
    <div class="inner">
      <p class="highlight">Mobile Developer Intern</p>
      <p>TotalCarGPS</p>
      <p>April 2024 - July 2024</p>
    </div>
  </div>
</section>

<section id="techAndTools">
  <div class="container">
    <h3>Tech & Tools</h3>
    <ul>
      @for (t of techAndTools; track $index) {
        <li>{{ t }}</li>
      }
    </ul>
  </div>
</section>

<section id="education">
  <div class="container">
    <h3>Education</h3>

    <div class="inner">
      <p class="highlight">B.S. Information Systems Engineering</p>
      <p>University of Sonora</p>
      <p>August 2019 - October 2024</p>
      <p>GPA: 94.14 / 100</p>
    </div>
  </div>
</section>
