<div class="card">
  <div class="project-img">
    <img src="icon.png" alt="Project preview" />
  </div>
  <h4>Project Name</h4>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque numquam eius
    quos tenetur beatae officia vel saepe rerum ab iste, veniam aliquid suscipit
    voluptates voluptatum dolore quisquam quo error adipisci.
  </p>
  <div class="links">
    <a href="#">Live Demo</a>
    <a href="#">GitHub</a>
  </div>
  <div class="tags">
    <ul>
      <li>Angular</li>
      <li>TypeScript</li>
      <li>HTML</li>
      <li>SCSS</li>
    </ul>
  </div>
</div>
