<div class="card">
  <div class="project-img">
    <img [src]="project().imgSrc" alt="Project preview" />
  </div>
  <h4>{{ project().title }}</h4>
  <p>
    {{ project().description }}
  </p>
  <div class="links">
    @if (project().liveDemoLink) {}
    <a [href]="project().liveDemoLink">Live Demo</a>
    <a [href]="project().githubRepoLink">GitHub</a>
  </div>
  <div class="tags">
    <ul>
      @for (tech of project().technologies; track $index) {
        <li>{{ tech }}</li>
      }
    </ul>
  </div>
</div>
