@use "../../shared/styles/variables" as *;

.card {
  width: 350px;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 1rem 2rem;

  @include md-dev {
    width: 250px;
  }
}
.project-img {
  width: 100%;

  img {
    width: 100%;
    aspect-ratio: 5 / 3;
  }
}

.links,
.tags {
  width: 100%;
}

.links {
  @include flex-row;
  font-weight: 500;
  font-size: 0.9rem;
  gap: 2rem;

  a:hover {
    font-weight: 700;
    text-decoration: underline;
  }
}

.tags {
  margin-top: 1rem;

  ul {
    @include list;
    gap: 0.5rem;
    margin: 0;
  }

  li {
    @include list-item;
    background-color: #272727;
    font-size: 0.7rem;
  }
}
