<div class="card">
  <!-- defer image rendering until the imgUrl has been fetched -->
  @defer (when imgUrl) {
    <div class="project-img">
      <img [src]="imgUrl" [alt]="project().imgSrc" loading="lazy" />
    </div>
  }
  <h4>{{ project().title }}</h4>
  <p>
    {{ project().description }}
  </p>
  <div class="links">
    <a [href]="project().liveDemoLink">Live Demo</a>
    <a [href]="project().githubRepoLink">GitHub</a>
  </div>
  <div class="tags">
    <ul>
      @for (tech of project().technologies; track $index) {
        <li>{{ tech }}</li>
      }
    </ul>
  </div>
</div>
